
html, #container_home .logo {
    height:100%;
}

#container_home .logo {
    _height: 150px;
}

body {
    min-width: 960px;
}

.content.iehome {
    height:100%;
}

.social_widgets {
    margin-top:50px;
}

.file_excerpt span.useract, .file_excerpt div.comments, .file_excerpt div.votes_up,
.file_excerpt div.votes_down, #advsearch, #prev, #norm, .pagination #current, #next,
.file_download_vote a, .file_comment_vote a, .download_file_metadata, .download_more_info,
.download_source a, .download_source input, .download_source span, a.source, a.source span,
div.icon, .awesome, .awesome:visited, #select_language_box, #select_language_box a span.lang_name, .flag,
.social_widgets, iframe, .logo_home, .file_download, #container_home .form {
    display: inline !important;
    zoom: 1;
}

.file_download {
    padding-right: 30px;
}
.flag {
    margin-top: 3px !important;
}

.large.awesome {
    padding: 4px 7px 2px 7px  !important;
    line-height: 19px !important;
}

.magenta.awesome {
    background-color: #DF1279;
}

.contentype {
    left: -5px !important;
}

.comment_form #submit-element input {
    width: 150px !important;
}

input#q {
    height: 20px;
}

#container_home input#q {
    height: 23px !important;
}

input[type="submit"] {
    top: -13px;
}

#container_search .fixTop {
    top: 3px !important;
}

#container_search form.searchbox {
    padding: 0px !important;
}

.awesome, .awesome:visited {
    _background-image: none;
}

#header-navigation{
    _width:280px;
}

/*
#select_language_box {
}

#select_language_box:hover {
    overflow: visible;
    height: 500px;
    border: 1px solid red;
}

#select_language_box a {
}

#select_language_box a span.lang_name {
    display: block;
    zoom: 0
}

#select_language_box:hover a, #select_language_box .lang.active  {
    display: block;
    zoom: 0;
}

#select_language_box .lang.active:hover {
    padding-bottom:400px;
}*/

.deployed_languages {
    height: auto !important;
    display: block !important;
}

.deployed_languages a {
    display: block !important;
}