* {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
    
}

body {
    font-family: arial, sans-serif;
    font-size: 85%;
}
.logo_home {
    font-size: 2.3em;
    height: 130px;
    width: 270px;
    background: transparent url(../images/foofind.gif) no-repeat scroll 0 0;

}

.logo_home p{
    font-size: 0.4em;
    text-align: right;
    color: #999;
    padding-top: 100px;
}


p {
    padding: 0 10px 1em;
}
#container_home {
    position: relative;
    clear: both;
    display: block;
    padding-top: 100px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    background-color: #fff;
    min-height: 300px;
   

}


#container_search {
    position: relative;
    text-align: left;
    clear: both;
    display: block;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    background-color: #fff;
    min-height: 300px;


}



.container_form {
    position: relative;
    clear: both;
    display: block;
    text-align: left;
    width: 480px;
    background-color: #fff;
    border: 1px solid #999;
    /*min-height: 300px;*/
    margin: auto;

}


.logo{
    clear: both;
    display: block;
    margin: 0 auto;
    padding: 20px 0;
    width: 270px;
}


.content {
    text-align: center;
    
}



* html #container {
    height: 100%;
}



.file_excerpt {
 display: block;
 margin: 10px;
 
}


.file_excerpt span{
 display: block;
 padding: 2px;
}


#footer_home{
    clear: both;
    margin-top:  40px;
    position: relative;
    text-align: center;
}

#footer_main{
    font-size: 12px;
    padding-top: 4%;
    padding-bottom:  2%;
    text-align: center;
    position:relative;
}



 html form {
     
    width: 400px;
    
}

html  fieldset{
    padding: 20px;
    text-align: left;
}


.home_form{
    
   
    margin-top:  30px;

}



html  input,select,textarea{
    
   /*  border: 1px solid gray;*/
     padding: 4px;
     margin: 0 0 6px;
    /* color: gray;
     font-weight: bold;
     font-size: 1.2em;*/
    
}



html dd{
    margin-bottom: 10px;
}


.home_form dd {
    display: inline;
}


.errors{
    color: red;
    padding-left: 20px;
}