* {
    padding: 0px;
    margin: 0px;
    word-wrap: break-word;
     overflow: hidden;
}

html, body {
    height: 100%;
}

body {
    font-family: arial, sans-serif;
    font-size: 13px;
}

.logo_home {
    font-size: 2.3em;
    height: 130px;
    width: 280px;
    background: transparent url(../images/foofind.gif) no-repeat scroll 0 0;

}

.logo_home p{
    font-size: 11px;
    text-align: right;
    color: #999;
    padding-top: 80px;
    
}

p {
    padding: 0 10px 1em;
}

#container_home {
    position: relative;
    clear: both;
    display: block;
    padding-top: 100px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    background-color: #fff;
    min-height: 300px;


}

#container_search {
    position: relative;
    text-align: left;
    clear: left;
    display: block;
    padding: 15px;
    padding-top: 35px;
    background-color: #fff;
    min-height: 300px;

}

#container_search h1{
    position: relative;
    top:-22px;
    left:5px;
    float: left;
    height: 77px;
    width: 175px;
    z-index: 100; /*over the form*/
    background: transparent;
}


#container_search form.searchbox{
    position: relative;
    display: block;
    width: auto;
    padding-left: 180px; /*reserve the a logo space to fix it*/
    top: -10px;
}

#container_search input#q{
    width: 350px;
}

input#submit{
    width: 80px;
}


#container_page form{
    position: relative;
    display: block;
    width: auto;
    padding-left: 0px;
    margin-left:  172px;
    margin-top: 10px;

}

.page_text{
    display: block;
    padding-left: 170px;
    padding-bottom: 50px;
}

#container_page h2{
    margin-left: 170px;
    padding-bottom: 10px;
}


.contentype{
    position: relative;
    float: left;
    left: 4px;
    top: -5px;
    display: block;
   
}


.contentype a{
    color: #df1279;
    padding-left: 2px;
    padding-right: 2px;
}

.contentype a:visited{
    color: #DF1279;
}

.navtype{
    padding-right: 5px;
}



.actual{
    color:black !important;
    text-decoration: none;
    font-weight: bold;
}

.container_form {
    position: relative;
    clear: both;
    display: block;
    text-align: left;
    padding: 20px;
    width: 480px;
    background-color: #fff;
    border: 1px solid #999;
    /*min-height: 300px;*/
    margin: auto;
}

.logo{
    clear: both;
    display: block;
    margin: 0 auto;
    padding: 20px 0;
    width: 270px;
}

.content {
    text-align: center;
}

* html #container {
    height: 100%;
}

.file_excerpt {
    display: block;
    margin-top: 5px;
    margin-bottom: 15px;
}

.file_excerpt span{
    display: block;
    max-width:42em;
}

.file_excerpt a{
     color: #000;
     text-decoration: underline;

}

#footer_home{
    clear: both;
    margin-top:  40px;
    position: relative;
    text-align: center;
}

#footer_main{
    font-size: 12px;
    /*padding-top: 4%;*/
    padding-bottom:  2%;
    text-align: center;
    position:relative;
    z-index: 100;
    clear: both;
}

html form {
    width: 400px;
    display: block;
}

html ul {
    list-style: none;
}

html ul.level1 {margin-right: -3px;}

html  fieldset{
    padding: 20px;
    text-align: left;
}

.home_form{
    margin-top:  30px;
}

html textarea {
    font-weight: bold;
    border: 1px solid gray;

}

html input[type="text"] {
   /* font-weight: bold;*/
    font-size: 1.1em;
    border: 1px solid gray;
    padding: 4px;

}



html dd, dl{
    margin-bottom: 10px;
    display: inline;
}

.home_form dd {
    display: inline;
}

.errors{
    color: #cd0069;
    padding-left: 0px;
}


.search_info{
    display: block;
    float:right;
    position: relative;
    text-align: right;
    top:6px;
    margin-bottom:  0px;
    margin-right: 5px;
}


hr {
    position: relative;
    border:none;
    border-top:1px solid #cd0069;
    height:1px;
    top: -10px;
    clear: left;
}


cite{
    color:#df1279;
    font-style: normal;
}

h3 {
    font-size: 16px;
    font-weight: normal;
}

#header{
    z-index: 300;
    position: relative;
    float: right;
    right: 30px;
    top: 10px;
}

#header-navigation{
    float: right;
}

#menu {
    clear: both;
}

#options {
    float: right;
    width:16em;
}


#options #advsearch {
    display: block;
    padding:3px;
}

#options #advsearch ul {
    margin: 15px;
}

#options #advsearch a {
    color: #df1279 !important;
}

.actual a:link a:visited{
    color: black;
}

#options a{
    text-decoration: none;
    line-height: 22px;
}

#options a input {
    margin-right: 5px;
    margin-bottom: 3px;
    vertical-align: middle;
}

#results {
    padding-left:10px;
}

#menu_page {
    width:150px;
    float:left;
    padding-top:  10px;
    padding-left: 10px;
}

#menu_page.ul{
    list-style-position: inside;
}

#container_page{
    padding-top:  10px;
    z-index: 300;
}

.success {
    background: #E6EFC2;
    color: #264409;
    border-color: #C6D880;
    padding: .8em;
    margin-bottom: 1em;
    margin-top: 1em;
    border: 1px solid #ddd;
}

.pagination {
    clear: both;
    margin-bottom: 40px;
    margin-top: 35px;
    padding-top: 60px;
    text-align: center;
    font-size: 13px;
    display: block;
    width: auto;
}

.pagination span {
    padding-top: 43px;
    text-align: center;
   /* background: transparent url(../images/foofind_paginator.gif) no-repeat scroll top left;*/
}

.pagination a{
    text-decoration: none;
    color: #df1279;
}

#prev {
    background-position: 15px 0;
    display: inline-block;
    width: 50px;
    margin-right: 0;  
}

#norm {
   /* background-position: -44px 0;*/
    display: inline-block;
    width: 18px;
    text-align: center;
}

#current{
   /* background-position: -69px 0;*/
    display: inline-block;
    width: 20px;
    text-align: center;
}


#next {
   /* background-position: -99px 0;*/
    width: 85px;
    display: inline-block;
   
   
}

/*start corner box stuff*/
.cornerBox {
	width: auto;
        margin-left: 10px;
	position: relative;
	background: #df1279;
}
.corner {
	position: absolute;
	width: 10px;
	height: 10px;
	background: url('../images/corners.gif') no-repeat;
	font-size: 0%;
}
.cornerBoxInner {
    padding: 20px;
    color: #fff !important;
}

.cornerBoxInner a {
    color: #fff !important;
    padding-left: 18px;
}

.cornerBoxInner a.off {
    background: url('../images/checkbox_off.gif') 0px 1px no-repeat;
}

.cornerBoxInner a.on {
    background: url('../images/checkbox_on.gif') 0px 1px no-repeat;
}

.TL {
	top: 0;
	left: 0;
	background-position: 0 0;
}
.TR {
	top: 0;
	right: 0;
	background-position: -10px 0;
}
.BL {
	bottom: 0;
	left: 0;
	background-position: 0 -10px;
}
.BR {
	bottom: 0;
	right: 0;
	background-position: -10px -10px;
}

/*EO corner box stuff*/



/*start button stuff*/

.awesome, .awesome:visited {
	background: transparent url(/images/alert-overlay.png) repeat-x;
	display: inline-block;
	padding: 5px 10px 6px;
	color: #fff;
	text-decoration: none;
        font-weight: bold;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.4);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.4);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	border-bottom: 1px solid rgba(0,0,0,0.25);
	position: relative;
	cursor: pointer;
        border: 0px;
}


.awesome:hover{ background-color: #111; color: #fff; }
.awesome:active{ top: 1px; }



/* Sizes ---------- */
.small.awesome {font-size: 11px;}
.medium.awesome {font-size: 13px;}
.large.awesome {font-size: 14px;padding: 4px;}
/* Colors ---------- */
.blue.awesome {background-color: #2daebf;}
/*.magenta.awesome {background-color: #DF1279;}*/
.magenta.awesome {background-color: #DB006E;}





/*left debuginfo to the end of  this css file*/
.debuginfo {
    display:none !important;
}
