* {
    padding: 0px;
    margin: 0px;
}

html, body {
    height: 100%;
}

body {
    font-family: arial, sans-serif;
    font-size: 13px;
}

.logo_home {
    font-size: 2.3em;
    height: 130px;
    width: 270px;
    background: transparent url(../images/foofind.gif) no-repeat scroll 0 0;

}

.logo_home p{
    font-size: 0.4em;
    text-align: right;
    color: #999;
    padding-top: 100px;
}

p {
    padding: 0 10px 1em;
}

#container_home {
    position: relative;
    clear: both;
    display: block;
    padding-top: 100px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    background-color: #fff;
    min-height: 300px;


}

#container_search {
    position: relative;
    text-align: left;
    clear: left;

    display: block;
    padding: 15px;
    padding-top: 35px;

    background-color: #fff;
    min-height: 300px;

}

#container_search h1{
    position: relative;

    top:-22px;
    left:5px;
    float: left;
    height: 77px;
    width: 175px;
    z-index: 100; /*over the form*/
    background: transparent;
}


#container_search form{
    position: relative;
    display: block;
    width: auto;
    padding-left: 210px; /*reserve the a logo space to fix it*/
    top: -10px;
}



#container_page form{
    position: relative;
    display: block;
    width: auto;
    padding-left: 0px;
    margin-left:  172px;
    margin-top: 10px;

}


#container_page h2{
    margin-left: 170px;
    padding-bottom: 10px;
}


.contentype{
    position: relative;
    float: left;
    left: 36px;
    top: -5px;
    display: block;
}

.navtype{
    padding-right: 5px;
}



.actual{
    color:black;
    text-decoration: none;
}

#options .actual {
    font-weight: bold;
}

.container_form {
    position: relative;
    clear: both;
    display: block;
    text-align: left;
    padding: 20px;
    width: 480px;
    background-color: #fff;
    border: 1px solid #999;
    /*min-height: 300px;*/
    margin: auto;

}


.logo{
    clear: both;
    display: block;
    margin: 0 auto;
    padding: 20px 0;
    width: 270px;
}


.content {
    text-align: center;

}



* html #container {
    height: 100%;
}



.file_excerpt {
    display: block;
    margin-top: 6px;
    margin-bottom: 7px;
}

.file_excerpt span{
    display: block;
    max-width:42em;
}


#footer_home{
    clear: both;
    margin-top:  40px;
    position: relative;
    text-align: center;
}

#footer_main{
    font-size: 12px;
    /*padding-top: 4%;*/
    padding-bottom:  2%;
    text-align: center;
    position:relative;
    z-index: 100;
    clear: both;
}



html form {

    width: 400px;
    display: block;

}


html ul {
    list-style: none;
}

html ul.level1 {margin-right: -3px;}

html  fieldset{
    padding: 20px;
    text-align: left;
}


.home_form{

    margin-top:  30px;

}


html textarea {
    font-weight: bold;
    border: 1px solid gray;

}


html input[type="text"] {
    font-weight: bold;
    font-size: 1.1em;
    border: 1px solid gray;
    padding: 4px;

}


html input[type="submit"] {
    /* border: 1px solid gray;*/
    color: black;
    padding: 2px;
}


html dd, dl{
    margin-bottom: 10px;
    display: inline;
}


.home_form dd {
    display: inline;

}


.errors{
    color: #cd0069;
    padding-left: 0px;
}


.search_info{
    display: block;
    float:right;
    position: relative;
    text-align: right;
    top:6px;
    margin-bottom:  0px;
    margin-right: 5px;
}


hr {
    position: relative;
    border:none;
    border-top:1px solid #cd0069;
    height:1px;
    top: -10px;
    /*margin-bottom:15px;*/
    clear: left;
}


cite{
    color:green;
    font-style: normal;
}

h3 {
    font-size: 16px;
    font-weight: normal;
}

#header{
    z-index: 300;
    position: relative;
    float: right;
    right: 30px;
    top: 10px;
}

#options {
    width:13em;
    float:left;
    display:none;
    height:1000px;
}

#options div {
    margin-right: 10px;
    padding:3px;
}

/*#options #common {
    border-right: 1px solid #cd0069;
}*/

#menu_page {
    width:150px;
    float:left;
    padding-top:  10px;
    padding-left: 25px;

}

#menu_page.ul{
    list-style-position: inside;
}

#container_page{
    padding-top:  10px;
    z-index: 300;
}


.success {
    background: #E6EFC2;
    color: #264409;
    border-color: #C6D880;
    padding: .8em;
    margin-bottom: 1em;
    margin-top: 1em;
    border: 1px solid #ddd;

}



.pagination {
    margin-bottom: 40px;
    margin-top: 55px;
    text-align: center;
    font-size: 13px;
    display: block;
    width: auto;
}

.pagination span {
    margin: 1em 0;
    padding-top: 43px;
    text-align: center;
    background: transparent url(../images/foofind_paginator.gif) no-repeat scroll top left;
    
   

}

.pagination a{
    text-decoration: underline;
}

#prev {
    background-position: 18px 0;
    width: 50px;
    padding-left: 1px;
    padding-right: 2px;
}

#norm {
    background-position: -45px 0;
    width: auto;
    padding-left: 5px;
    padding-right: 5px;
}



#norm2 {
    background-position: -42px 0;
    width: auto;
    padding-left: 5px;
    padding-right: 5px;
}


#current{
    background-position: -69px 0;
    width: auto;
    padding-left: 6px;
    padding-right: 7px;
}




#next {
    background-position: -96px 0;
    width: 110px;
    padding-left: 3px;
    padding-right: 22px;
}